* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f6f5f5;
}

.c-form {
  width: 35%;
}

@media (max-width: 360px) {
  .c-form {
    width: 70%;
  }

  .c-span {
    display: none;
  }
}
